<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SharePointSiteUrl" value="https://tempesta.sharepoint.com/sites/EFEmergencyBoard"/>
    <add key="ServiceEndpoint" value="https://ussouthcentral.services.azureml.net/workspaces/5de29cb0b374491885e690ba7accfd8f/services/e5dbf2d92ef24f5bb28b2dd63cd95560/execute?api-version=2.0"/>
    <add key="ApiKey" value="yxqL8E+QIA6LPtfM31WN0J7FIJ+UdMxZoBNg0l0FbRLkcrT1VTXdnwRQDJIa1KyMidIeNJp2nTpCJZrOr0HzoA=="/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
